.main-theme {
  --white-font-color: #ffffff;
  --black-background: #000000;
  --blue-background: #1a53ff;
  --green-color: green;
  --white-background: #f1f1f1;
  --margin-left: 550px;
  --padding-right: 70px;
  --padding-left: 125px;
}
